.sidebar{
    height: 100vh;
    width: 20%;
    border: 2px solid black;
   position: fixed;
}
.Linktag{
    text-decoration: none;
    color: black;
}
.sidebar .userName{
    margin-left: 20%;
    font-size: 200%;
    font-weight: bold;
}
.sidebar-list{
    height: auto;
    width: 100%;
    padding: 0;

}
.sidebar-list .row{
    width: 80%;
    height: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 10%;
    
}
.sidebar-list .active{
    color: rgb(255, 200, 18);
    background-color: black;
    text-decoration: none;
}

.linktag{
    text-decoration: none;
    color:black;
}
.linktag :hover{
    text-decoration: none;
    color:white;
    background-color: rgb(255, 200, 18) ;
}
.linktag .row:hover{
    text-decoration: none;
}
.row .icon{
    flex: 30%;
    display: grid;
    font-size: 40px;
    place-items: center;
}
.row .title{
    flex: 70%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}